In [28]:
# loading libraries 
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [29]:
#read and display data
df1 =pd.read_csv("resources/NY-House-Dataset.csv")
df2 = pd.read_csv('resources/housing_additional_data_file.csv')
print(display(df1.head(5)))
print(display(df2.head(5)))

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,LOCALITY,SUBLOCALITY,STREET_NAME,LONG_NAME,FORMATTED_ADDRESS,LATITUDE,LONGITUDE
0,Brokered by Douglas Elliman -111 Fifth Ave,Condo for sale,315000,2,2.000000,1400.0,2 E 55th St Unit 803,"New York, NY 10022","2 E 55th St Unit 803New York, NY 10022",New York County,New York,Manhattan,East 55th Street,Regis Residence,"Regis Residence, 2 E 55th St #803, New York, N...",40.761255,-73.974483
1,Brokered by Serhant,Condo for sale,195000000,7,10.000000,17545.0,Central Park Tower Penthouse-217 W 57th New Yo...,"New York, NY 10019",Central Park Tower Penthouse-217 W 57th New Yo...,United States,New York,New York County,New York,West 57th Street,"217 W 57th St, New York, NY 10019, USA",40.766393,-73.980991
2,Brokered by Sowae Corp,House for sale,260000,4,2.000000,2015.0,620 Sinclair Ave,"Staten Island, NY 10312","620 Sinclair AveStaten Island, NY 10312",United States,New York,Richmond County,Staten Island,Sinclair Avenue,"620 Sinclair Ave, Staten Island, NY 10312, USA",40.541805,-74.196109
3,Brokered by COMPASS,Condo for sale,69000,3,1.000000,445.0,2 E 55th St Unit 908W33,"Manhattan, NY 10022","2 E 55th St Unit 908W33Manhattan, NY 10022",United States,New York,New York County,New York,East 55th Street,"2 E 55th St, New York, NY 10022, USA",40.761398,-73.974613
4,Brokered by Sotheby's International Realty - E...,Townhouse for sale,55000000,7,2.373861,14175.0,5 E 64th St,"New York, NY 10065","5 E 64th StNew York, NY 10065",United States,New York,New York County,New York,East 64th Street,"5 E 64th St, New York, NY 10065, USA",40.767224,-73.969856

None

,lat,lon,suburb,postcode,category,result_type,state,city
0,40.761255,-73.974483,Manhattan,10022,catering.restaurant,amenity,New York,New York
1,40.766393,-73.980991,Manhattan,10019,building.residential,amenity,New York,New York
2,40.541805,-74.196109,Staten Island,10312,building.residential,building,New York,New York
3,40.761398,-73.974613,Manhattan,10022,catering.bar,amenity,New York,New York
4,40.767224,-73.969856,Manhattan,10065,building,building,New York,New York

None

In [30]:
# Clean sublocality and state columns in both datasets
df1['SUBLOCALITY'] = df1['SUBLOCALITY'].str.strip().str.lower()
df1['STATE'] = df1['STATE'].str.strip().str.lower()

df2['suburb'] = df2['suburb'].str.strip().str.lower()
df2['state'] = df2['state'].str.strip().str.lower()

In [31]:
# Drop duplicates in the key column
df1 = df1.drop_duplicates(subset=['LATITUDE', 'LONGITUDE'])
df2 = df2.drop_duplicates(subset=['lat', 'lon'])

In [32]:
# Merge the DataFrames using different column names
Housing_df = pd.merge(df1, df2, left_on=['LATITUDE', 'LONGITUDE'], right_on=['lat', 'lon'], how='inner')
# Display the merged DataFrame
Housing_df.head()

,BROKERTITLE,TYPE,PRICE,BEDS,BATH,PROPERTYSQFT,ADDRESS,STATE,MAIN_ADDRESS,ADMINISTRATIVE_AREA_LEVEL_2,...,LATITUDE,LONGITUDE,lat,lon,suburb,postcode,category,result_type,state,city
0,Brokered by Douglas Elliman -111 Fifth Ave,Condo for sale,315000,2,2.000000,1400.0,2 E 55th St Unit 803,"new york, ny 10022","2 E 55th St Unit 803New York, NY 10022",New York County,...,40.761255,-73.974483,40.761255,-73.974483,manhattan,10022,catering.restaurant,amenity,new york,New York
1,Brokered by Serhant,Condo for sale,195000000,7,10.000000,17545.0,Central Park Tower Penthouse-217 W 57th New Yo...,"new york, ny 10019",Central Park Tower Penthouse-217 W 57th New Yo...,United States,...,40.766393,-73.980991,40.766393,-73.980991,manhattan,10019,building.residential,amenity,new york,New York
2,Brokered by Sowae Corp,House for sale,260000,4,2.000000,2015.0,620 Sinclair Ave,"staten island, ny 10312","620 Sinclair AveStaten Island, NY 10312",United States,...,40.541805,-74.196109,40.541805,-74.196109,staten island,10312,building.residential,building,new york,New York
3,Brokered by COMPASS,Condo for sale,69000,3,1.000000,445.0,2 E 55th St Unit 908W33,"manhattan, ny 10022","2 E 55th St Unit 908W33Manhattan, NY 10022",United States,...,40.761398,-73.974613,40.761398,-73.974613,manhattan,10022,catering.bar,amenity,new york,New York
4,Brokered by Sotheby's International Realty - E...,Townhouse for sale,55000000,7,2.373861,14175.0,5 E 64th St,"new york, ny 10065","5 E 64th StNew York, NY 10065",United States,...,40.767224,-73.969856,40.767224,-73.969856,manhattan,10065,building,building,new york,New York

In [33]:
#check the data size    
Housing_df.shape

(4200, 25)

In [34]:
#check columns name
Housing_df.columns

Index(['BROKERTITLE', 'TYPE', 'PRICE', 'BEDS', 'BATH', 'PROPERTYSQFT',
       'ADDRESS', 'STATE', 'MAIN_ADDRESS', 'ADMINISTRATIVE_AREA_LEVEL_2',
       'LOCALITY', 'SUBLOCALITY', 'STREET_NAME', 'LONG_NAME',
       'FORMATTED_ADDRESS', 'LATITUDE', 'LONGITUDE', 'lat', 'lon', 'suburb',
       'postcode', 'category', 'result_type', 'state', 'city'],
      dtype='object')

In [72]:
# Selecting the Necessary Columns
selected_columns = [
    'BEDS', 'BATH', 'PROPERTYSQFT', 'TYPE',
    'state', 'city','suburb','postcode' ,'LATITUDE', 'LONGITUDE'
]

# Subset the DataFrame
df= Housing_df[selected_columns]

In [73]:
# Standardize column names
df.columns = df.columns.str.lower().str.replace(' ', '_')
#check changes
df.columns

Index(['beds', 'bath', 'propertysqft', 'type', 'state', 'city', 'suburb',
       'postcode', 'latitude', 'longitude'],
      dtype='object')

Check for Missing Values:

In [56]:
# Check for missing values in the selected columns
missing_data = df.isnull().sum()
print("Missing Data by Column:")
missing_data

Missing Data by Column:

beds            0
bath            0
propertysqft    0
type            0
state           0
city            0
suburb          0
postcode        0
latitude        0
longitude       0
dtype: int64

Handle Missing Values:

In [74]:
#drope the missing values
df = df.dropna(how='any')

In [39]:
#chech data type
df.dtypes

beds              int64
bath            float64
propertysqft    float64
type             object
category         object
state            object
city             object
suburb           object
postcode         object
latitude        float64
longitude       float64
dtype: object

In [75]:
# Ensure columns are of type string, handle NaN values, and capitalize each word
location_columns = ['state', 'city', 'suburb']
for col in location_columns:
    df[col] = df[col].fillna('').astype(str)  # Replace NaNs with empty string, then convert to string

#capitalize each word
    df[col] = df[col].str.title()  # Capitalize each word

In [76]:
df.head(2)

,beds,bath,propertysqft,type,state,city,suburb,postcode,latitude,longitude
0,2,2.0,1400.0,Condo for sale,New York,New York,Manhattan,10022,40.761255,-73.974483
1,7,10.0,17545.0,Condo for sale,New York,New York,Manhattan,10019,40.766393,-73.980991

In [77]:
# Remove duplicates
df = df.drop_duplicates()

In [78]:

# 1. Fix Fractional Bathroom Values (round to nearest integer)
df['bath'] = df['bath'].round()

# 2. Handle Large Property (`propertysqft`) - Cap at 95th percentile or a fixed threshold
propertysqft_cap = np.percentile(df['propertysqft'], 95)  # Get 95th percentile
df['propertysqft'] = np.where(df['propertysqft'] > propertysqft_cap, propertysqft_cap, df['propertysqft'])

# 3. Check for Outliers in `beds` column (e.g., cap at 5 or remove 7+ bedrooms if it's an outlier)
df['beds'] = np.where(df['beds'] > 5, 5, df['beds'])  # Cap at 5 beds, or remove entries with 7+ beds if needed

# Display the cleaned dataset
df.head()

,beds,bath,propertysqft,type,state,city,suburb,postcode,latitude,longitude
0,2,2.0,1400.0,Condo for sale,New York,New York,Manhattan,10022,40.761255,-73.974483
1,5,10.0,4900.0,Condo for sale,New York,New York,Manhattan,10019,40.766393,-73.980991
2,4,2.0,2015.0,House for sale,New York,New York,Staten Island,10312,40.541805,-74.196109
3,3,1.0,445.0,Condo for sale,New York,New York,Manhattan,10022,40.761398,-73.974613
4,5,2.0,4900.0,Townhouse for sale,New York,New York,Manhattan,10065,40.767224,-73.969856

In [18]:
df.dtypes

beds              int64
bath            float64
propertysqft    float64
type             object
category         object
state            object
city             object
suburb           object
postcode         object
latitude        float64
longitude       float64
dtype: object

In [71]:
df['type'].unique()

array(['Other', 'Foreclosure'], dtype=object)

In [79]:
# Updated simplified type mapping
simple_type_mapping = {
    'Condo for sale': 'Condo',
    'House for sale': 'House',
    'Townhouse for sale': 'Townhouse',
    'Co-op for sale': 'Co-op',
    'Multi-family home for sale': 'Multi-family',
    'For sale': 'Other',
    'Contingent': 'Other',
    'Land for sale': 'Land',
    'Foreclosure': 'Foreclosure',
    'Pending': 'Other',
    'Coming Soon': 'Other',
    'Mobile house for sale': 'Mobile Home',
    'Condop for sale': 'Condo'
}

# Apply the mapping to the 'type' column and handle any missing values
df['type'] = df['type'].map(simple_type_mapping).fillna('Other')

# Display cleaned 'type' column
df[['type']].head()

        type
0      Condo
1      Condo
2      House
3      Condo
4  Townhouse

In [ ]:
# Create 'category' column based on the cleaned 'type' column
type_to_category_mapping = {
    'Condo': 'Residential',
    'House': 'Residential',
    'Townhouse': 'Residential',
    'Co-op': 'Residential',
    'Multi-family': 'Residential',
    'Mobile Home': 'Residential',
    'Land': 'Commercial',
    'Foreclosure': 'Commercial',
    'Other': 'Other'
}

# Apply the mapping to the 'category' column based on the cleaned 'type'
df['category'] = df['type'].map(type_to_category_mapping).fillna('Other')

# Display cleaned 'category' columns
df[['type', 'category']].head()

        type     category
0      Condo  Residential
1      Condo  Residential
2      House  Residential
3      Condo  Residential
4  Townhouse  Residential

In [81]:
df['category'].unique()

array(['Residential', 'Other', 'Commercial'], dtype=object)

In [82]:
df.head()

,beds,bath,propertysqft,type,state,city,suburb,postcode,latitude,longitude,category
0,2,2.0,1400.0,Condo,New York,New York,Manhattan,10022,40.761255,-73.974483,Residential
1,5,10.0,4900.0,Condo,New York,New York,Manhattan,10019,40.766393,-73.980991,Residential
2,4,2.0,2015.0,House,New York,New York,Staten Island,10312,40.541805,-74.196109,Residential
3,3,1.0,445.0,Condo,New York,New York,Manhattan,10022,40.761398,-73.974613,Residential
4,5,2.0,4900.0,Townhouse,New York,New York,Manhattan,10065,40.767224,-73.969856,Residential

In [83]:
#Drop any rows with missing or unclassified values:
df = df.dropna(subset=['type', 'category'])

In [84]:
# Ensure all category values are valid
df['category'] = df['category'].where(df['category'].isin(['Residential', 'Commercial', 'Other']), 'Other')

In [88]:
df.head()

,beds,bath,propertysqft,type,state,city,suburb,postcode,latitude,longitude,category
0,2,2.0,1400.0,Condo,New York,New York,Manhattan,10022,40.761255,-73.974483,Residential
1,5,10.0,4900.0,Condo,New York,New York,Manhattan,10019,40.766393,-73.980991,Residential
2,4,2.0,2015.0,House,New York,New York,Staten Island,10312,40.541805,-74.196109,Residential
3,3,1.0,445.0,Condo,New York,New York,Manhattan,10022,40.761398,-73.974613,Residential
4,5,2.0,4900.0,Townhouse,New York,New York,Manhattan,10065,40.767224,-73.969856,Residential

In [90]:
# Drop rows where 'category' or 'type' is 'Other'
df_cleaned = df[~df['category'].isin(['Other'])]

# Display the cleaned dataframe
df_cleaned[['category']].head()

      category
0  Residential
1  Residential
2  Residential
3  Residential
4  Residential

In [91]:
df_cleaned

,beds,bath,propertysqft,type,state,city,suburb,postcode,latitude,longitude,category
0,2,2.0,1400.000000,Condo,New York,New York,Manhattan,10022,40.761255,-73.974483,Residential
1,5,10.0,4900.000000,Condo,New York,New York,Manhattan,10019,40.766393,-73.980991,Residential
2,4,2.0,2015.000000,House,New York,New York,Staten Island,10312,40.541805,-74.196109,Residential
3,3,1.0,445.000000,Condo,New York,New York,Manhattan,10022,40.761398,-73.974613,Residential
4,5,2.0,4900.000000,Townhouse,New York,New York,Manhattan,10065,40.767224,-73.969856,Residential
...,...,...,...,...,...,...,...,...,...,...,...
4195,2,2.0,903.000000,Condo,New York,New York,Manhattan,10030,40.816711,-73.942050,Residential
4196,5,9.0,3600.000000,Multi-family,New York,New York,Brooklyn,11224,40.578450,-73.982739,Residential
4197,1,1.0,2184.207862,Co-op,New York,New York,Manhattan,10075,40.774350,-73.955879,Residential
4198,1,1.0,2184.207862,Co-op,New York,New York,Manhattan,10011,40.745882,-74.003398,Residential
4199,1,1.0,750.000000,Co-op,New York,New York,Brooklyn,11224,40.579147,-73.970949,Residential

In [93]:

# 1. Label Encoding for ordinal columns (e.g., 'type' - if applicable)
label_encoder = LabelEncoder()
df['category'] = label_encoder.fit_transform(df['category'])

# 2. One-Hot Encoding for categorical columns (e.g., 'state', 'city', 'suburb')
df_encoded = pd.get_dummies(df, columns=['state', 'city', 'suburb'], drop_first=True)

# 3. View the resulting DataFrame
df_encoded.head()

,beds,bath,propertysqft,type,postcode,latitude,longitude,category,city_West New York,suburb_Astoria,...,suburb_Tribeca,suburb_Two Bridges,suburb_Upper East Side,suburb_Upper West Side,suburb_Wakefield,suburb_Washington Heights,suburb_West Village,suburb_Whitestone,suburb_Williamsburg,suburb_Woodside
0,2,2.0,1400.0,1,10022,40.761255,-73.974483,2,False,False,...,False,False,False,False,False,False,False,False,False,False
1,5,10.0,4900.0,1,10019,40.766393,-73.980991,2,False,False,...,False,False,False,False,False,False,False,False,False,False
2,4,2.0,2015.0,3,10312,40.541805,-74.196109,2,False,False,...,False,False,False,False,False,False,False,False,False,False
3,3,1.0,445.0,1,10022,40.761398,-73.974613,2,False,False,...,False,False,False,False,False,False,False,False,False,False
4,5,2.0,4900.0,8,10065,40.767224,-73.969856,2,False,False,...,False,False,False,False,False,False,False,False,False,False

In [80]:
# print(data['category'].unique())